.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
  .Register-form {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .login-form{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.auth-form-container {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 350px;
}
.auth-form-container1 {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 470px;
}
h2 {
  margin: 0px;
  padding: 25px;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
label {
  padding: 5px;
  margin: 5px;
  color: rgb(0, 0, 0);
}
input {
  padding: 2px;
  margin: 0px;
}
button {
  padding: 5px;
  margin: 10px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(223, 223, 253, 0.945), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border-color: white;
}
.link-button {
 background-color: transparent;
 border: none;
 color: rgb(0, 0, 0);
 text-decoration: underline;
 padding: 5px;
 margin: 0px;
}